<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emiliaasy.bangkit.capstone">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone">
        <activity
            android:name=".result.IncorrectResultActivity"
            android:exported="false" />
        <activity
            android:name=".dialog.LogoutDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".dialog.LoginDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".dialog.RegisterDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".signup.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".dialog.PauseDialogActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".dialog.ExitDialogActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".ExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".result.CorrectResultActivity"
            android:exported="false" />
        <activity
            android:name=".capture.CaptureActivity"
            android:exported="false" />
        <activity
            android:name=".NarrationActivity"
            android:exported="false" />
        <activity
            android:name=".StageActivity"
            android:exported="false" />
        <activity
            android:name=".subcategory.HouseActivity"
            android:exported="false" />
        <activity
            android:name=".subcategory.AnimalsActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".category.CategoryActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.emiliaasy.bangkit.capstone"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>